* {
    font-family: 'Raleway', sans-serif !important;
    padding: 0;
    margin: 0;
}

#header {
    position: absolute;
    height: 60px;
    width: 100vw;
    background: white;
}

#header button {
    border: none;
    outline: none;
    background: none;
}

#header button:hover {
    cursor: pointer;
}

#header img {
    padding: 10px;
    height: 40px;
    width: 40px;
}

#header h3 {
    position: relative;
    float: right;
    height: 20px;
    top: 20px;
    padding-right: 10px;
}

@media screen and (min-width: 800px) {
    #sidebar {
        position: absolute;
        height: calc(100vh - 60px);
        width: 400px;
        margin-top: 60px;
        background: #f9f9f9;
    }
    #title {
        position: relative;
        height: 36px;
        top: 0;
        background: #f9f9f9;
        padding: 20px;
    }
    #title h1 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        font-weight: 800;
        width: 300px;
        height: 36px;
        color: #1E99FF;
    }
    #title button {
        position: relative;
        display: inline-block;
        top: 0;
        float: right;
        width: 50px;
        height: 36px;
    }
    #donors div {
        position: relative;
        height: calc(100vh - 136px);
        overflow-y: scroll;
    }
    #donors button {
        outline: none;
        border: none;
        background: none;
        padding: 20px;
        width: 80%;
        text-align: left;
        padding-top: 0px;
        font-weight: 400;
        font-size: 24px;
    }
    #donors button:hover {
        color: #1E99FF;
        cursor: pointer;
    }
    #donors button h2 {}
    #detail {
        position: absolute;
        height: calc(100vh - 60px);
        width: calc(100vw - 400px);
        margin-top: 60px;
        left: 400px;
        background: #eee;
    }
    #donordetail {
        position: relative;
        width: 100%;
        height: 50%;
    }
    #donordetail h1 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    #donordetail h1 #btype {
        color: #ff2d55;
        font-weight: 800;
        padding: 10px;
    }
    #donordetail h3 {
        font-weight: 700;
    }
    #donordetail div {
        font-size: 20px;
    }
    #donordetail .label {
        position: relative;
        display: inline-block;
        width: 100%;
        font-weight: bold;
    }
    #donordetail .value {
        position: relative;
        width: 50%;
        font-weight: 400;
    }
    #donordetail #donor {
        position: relative;
        display: none;
        width: calc(50% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
        float: left;
        margin: 0;
    }
    #donordetail #donorstuff {
        position: relative;
        display: none;
        background: none;
        width: calc(50% - 40px);
        padding: 20px;
        height: calc(100% - 40px);
        margin: 0;
        float: right;
    }
    #donordetail #donorstuff h1 {
        font-weight: 600;
        font-size: 30px;
    }
    #donordetail #donorstuff p {
        font-weight: 400;
        font-size: 20px;
    }
    #donordetail #donorstuff .stuffdiv {
        position: relative;
        display: block;
        height: 50%;
        width: 100%;
    }
    #donordetail::after {
        content: "";
        background: #666;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
    }
    #donordetail #center {
        position: relative;
        width: 50%;
        height: 10%;
        left: 25%;
        top: 45%;
        vertical-align: center;
        text-align: center;
        font-weight: 300;
    }
    .green {
        color: #2dc937;
    }
    .red {
        color: #cc3232;
    }
    .yellow {
        color: #FFEB5A;
    }
    /* #pot-pats {
        position: relative;
        width: 100%;
        height: 50%;
    }
    #pot-pats #meds {
        position: relative;
        height: 50%;
        width: 100%;
    }
    #pot-pats h1 {
        font-weight: 400;
        margin: 20px;
    }
    #pot-pats #disease {
        position: relative;
        height: 50%;
        width: 100%;
    } */
    #pot-pats {
        position: relative;
        width: 100%;
        height: 50%;
    }
    #pot-pats h1 {
        padding: 20px;
        padding-bottom: 0;
        height: 20px;
    }
    #pot-pats #donorlist {
        position: relative;
        padding: 20px;
        height: calc(100% - 100px);
        overflow-y: scroll;
    }
    #pot-pats button {
        border: none;
        outline: none;
        background: none;
        font-size: 24px;
        padding-bottom: 5px;
    }
    #pot-pats button:hover {
        color: #1E99FF;
        cursor: pointer;
    }
    #pot-pats #donorcenter {
        position: relative;
        width: 50%;
        height: 10%;
        left: 25%;
        top: 45%;
        vertical-align: center;
        text-align: center;
        font-weight: 300;
    }
}