* {
    font-family: 'Raleway', sans-serif !important;
    padding: 0;
    margin: 0;
}

#header {
    position: absolute;
    height: 60px;
    width: 100vw;
    background: white;
}

#header button {
    border: none;
    outline: none;
    background: none;
}

#header button:hover {
    cursor: pointer;
}

#header img {
    padding: 10px;
    height: 40px;
    width: 40px;
}

#header h3 {
    position: relative;
    float: right;
    height: 20px;
    top: 20px;
    padding-right: 10px;
}

@media screen and (min-width: 800px) {
    #sidebar {
        position: absolute;
        height: calc(100vh - 60px);
        width: 400px;
        margin-top: 60px;
        background: #f9f9f9;
    }
    #title {
        position: relative;
        height: 36px;
        top: 0;
        background: #f9f9f9;
        padding: 20px;
    }
    #title h1 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        font-weight: 800;
        width: 300px;
        height: 36px;
        color: #ff2d55;
    }
    #title button {
        position: relative;
        display: inline-block;
        top: 0;
        float: right;
        width: 50px;
        height: 36px;
    }
    #patients div {
        position: relative;
        height: calc(100vh - 136px);
        overflow-y: scroll;
    }
    #patients button {
        outline: none;
        border: none;
        background: none;
        width: 80%;
        text-align: left;
        padding: 20px;
        padding-top: 0px;
        font-weight: 400;
        font-size: 24px;
    }
    #patients button:hover {
        color: #ff2d55;
        cursor: pointer;
    }
    #patients button h2 {}
    #detail {
        position: absolute;
        height: calc(100vh - 60px);
        width: calc(100vw - 400px);
        margin-top: 60px;
        left: 400px;
        background: #eee;
    }
    #patientdetail {
        position: relative;
        width: 100%;
        height: 50%;
    }
    #patientdetail h1 {
        font-weight: 400;
        padding-bottom: 10px;
    }
    #patientdetail h1 #btype {
        color: #ff2d55;
        font-weight: 800;
        padding: 10px;
    }
    #patientdetail h3 {
        font-weight: 700;
    }
    #patientdetail div {
        font-size: 20px;
    }
    #patientdetail .label {
        position: relative;
        display: inline-block;
        width: 200px;
        font-weight: bold;
    }
    #patientdetail .value {
        position: relative;
        width: 50%;
        font-weight: 400;
    }
    #patientdetail #patient {
        position: relative;
        padding: 20px;
    }
    #patientdetail::after {
        content: "";
        background: #666;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
    }
    #patientdetail #center {
        position: relative;
        width: 50%;
        height: 10%;
        left: 25%;
        top: 45%;
        vertical-align: center;
        text-align: center;
        font-weight: 300;
    }
    .green {
        color: #2dc937;
    }
    .red {
        color: #cc3232;
    }
    .yellow {
        color: #FFEB5A;
    }
    #donors {
        position: relative;
        width: 100%;
        height: 50%;
    }
    #donors h1 {
        padding: 20px;
        padding-bottom: 0;
        height: 20px;
    }
    #donors #donorlist {
        position: relative;
        padding: 20px;
        height: calc(100% - 100px);
    }
    #donors button {
        border: none;
        outline: none;
        background: none;
        font-size: 20px;
    }
    #donors button:hover {
        color: #1E99FF;
        cursor: pointer;
    }
    #donors #donorcenter {
        position: relative;
        width: 50%;
        height: 10%;
        left: 25%;
        top: 45%;
        vertical-align: center;
        text-align: center;
        font-weight: 300;
    }
    #donor-card {
        position: absolute;
        display: none;
        width: 64%;
        height: 50%;
        left: 18%;
        top: 25%;
        background: #f9f9f9;
        z-index: 100;
        border-radius: 10px;
    }
    #blur {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(200, 200, 200, 0.92);
        z-index: 99;
    }
}

;